header {
  .social {
    background: url("#{$icons}social-container.png");
    padding: 15px 0;
    ul {
      text-align: right;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      margin-right: 15px;
      &:nth-last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: .8;
        transition: .4s linear;
      }
    }
    .twitter {
      width: 25px;
      height: 14px;
      background: url("#{$icons}twitter.png") no-repeat center;
    }
    .facebook {
      width: 8px;
      height: 16px;
      background: url("#{$icons}facebook.png") no-repeat center;
    }
    .dribbble {
      width: 16px;
      height: 16px;
      background: url("#{$icons}dribbble.png") no-repeat center;
    }
    .rss {
      width: 16px;
      height: 17px;
      background: url("#{$icons}rss.png") no-repeat center;
    }
  }
  .navigation {
    box-shadow: 0.5px 0.9px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    .row {
      display: flex;
      align-items: center;
    }
  }
  .logo a {
    position: relative;
    font-family: $Bitter;
    font-size: $fs-middle-large;
    color: #252525;
    padding-left: 45px;
    &:before {
      display: block;
      position: absolute;
      content: 'i';
      color: #fff;
      width: 34px;
      height: 34px;
      background-color: #ea5a4b;
      text-align: center;
      padding-top: 2px;
      top: -3px;
      left: 0;
    }
    span {
      color: #ea5a4b;
    }
  }
  nav {
    ul {
      text-align: right;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      color: #252525;
      font-weight: 700;
      font-size: $fs-title-small;
      text-transform: uppercase;
      margin-right: 15px;
      &:nth-last-child {
        margin-right: 0;
      }
      &:hover {
        color: #ea5a4b;
        transition: .4s linear;
      }
    }
  }
}