// Border-radius

// Height-inputs
$height-input: 36px;
// Set default margin value here
$margin: 1.428rem;

$margin-lg: $margin * 2;// 2.856rem
$margin-md: $margin * 0.75;// 1.071rem
$margin-sm: $margin * 0.5;// 0.714rem
$margin-xs: $margin * 0.25;// 0.357rem
