// Set variables for font faces here
$Bitter: 'BitterRegular' , sans-serif;
$HalveticaNeue: 'HalveticaNeueRegular' , sans-serif;

// Shadow
$shadow-white: 0 1px 0 white;

// Letter spacing
$ls-xl: 0.1em;
$ls-lg: 0.06em;
$ls-md: 0.04em;
$ls-sm: 0.02em;
$ls-xs: 0.01em;

// Line height
$lh-lg-x: 2;
$lh-lg: 1.6;
$lh-md: 1.4;
$lh-xs: 1.2;
$lh-sm: 1.1;

//12px
$fs-title-small: 0.8571rem;
//14px
$fs-base: 1rem;
//18px
$fs-large: 1.286rem;
//24px
$fs-middle-large: 1.714rem;
//30px
$fs-extra-large: 2.143rem;

